
@media (max-width:800px){
    .MissionContainer {
        display: grid;
        grid-template-columns: 27% auto;
      }
}
@media (max-width:600px){
    .MissionContainer{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: none;
    }
}
@media (min-width:801px){
    .MissionContainer {
        display: grid;
        grid-template-columns: 20% auto;
      }
}
